.foodTable {
  margin-top: 10rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}
.cardBox{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.card{
  width: 25%;
  margin: 20px;
  background-color: rgb(128, 134, 170);
  border-radius: 7px;
  transition: margin 0.2s;
}
.card:hover{
  margin-top: 10px;
  margin-bottom: 30px;
}