a:link {  text-decoration: none;}
a:visited {  text-decoration: none;}
a:hover { text-decoration: none;}
.btn-changeColor {
  font-size: 14px;
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  float: right;
  margin-right: 2rem;
  
}

.footer {
  display: flex;
  height: 40px;
  width: 100%;
  position : fixed;
  bottom : 0;
  background-color: #ccc;
  height: 3rem;
}
.icoFlax{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.copyRight {
  position: absolute;
  right: 0;
  margin: 10px;
  margin-right: 30px;
}

.navbar-home,
.navbar-food,
.navbar-notice
{
  text-align: center;
  border: 1px solid #000;
  width: 5rem;
  height: 2rem;
}